<!DOCTYPE html>
<html>
    <head>
        <style>
        a {
            color: #C42CB0
        }
    </style>
    </head>
<body>
  <br>

        <h2>Hi {{user}}, </h2>
  <br>
        <p>We've recieved a request to reset your password on your account. You can reset your password <a href="http://localhost:3000/reset-password?uid={{uid}}&token={{token}}">here</a>.</p>
  <ul>
    <li>Password must have 1 special char, 1 upper and lower letter, and 1 digit</li>
    <li>Password must be at least 8 characters</li>
  </ul>
  <br>
  <p>This link will expire in 24 hours. After that, you'll need to submit a new request in order to reset your password. If you don't want to reset it, simply disregard this email.</p>
  <br>
  <p>Thanks,</p>
  <br>
<p>DevTrove</p>

</html>

