.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.App {
  flex: 1;
}

.footer {
  margin-top: auto;
}

.profileFormImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainNav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mobileNav {
  display: none;
}

.borderBottom {
  border-bottom: 3px solid;
  border-color: #334e5c;
}

@media (max-width: 850px) {
  .mainNav {
    display: none;
    background: green;
  }
  .mobileNav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .mobileNav svg {
    pointer-events: none;
  }

  .mobileNav a {
    width: 100%;
    display: inline-block;
  }
}

.overflow-scroll::-webkit-scrollbar {
  width: 12px;
}

.overflow-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: #1e293b;
}

.overflow-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #444447;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
